{% extends 'navbar\adminnavbar.html' %}
{% load static %}
{% block content %}
<form method="post" action="trainerassign">
    <link href="{% static '/css/trainer_assign.css' %}" rel="stylesheet">
    {% csrf_token %}
    <div id="div1" align="center">
        <h1><u>Assigning batch for Trainer</u></h1>
        <table>
            <tr>
                <td>Trainer Name:</td>
                <td>
                    <select name="ddlTname">
                        {% for i in Trainer %}
                            <option>{{i.tname}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Batch No:</td>
                <td><input type="number" name="txtBatchNum"></td>
            </tr>
            <tr>
                <td>Course:</td>
                <td>
                    <select name="ddlCourse">
                        {% for i in Course %}
                            <option>{{i.course_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="datetime-local" name="txtDate"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="btnAssign" Value="Assign">
                </td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}